*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container{
    color: #fff;
    background-color: #5995da;
    padding:  20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.link{
    border: 1px solid #fff;
    display: flex;
    width:900px;
    justify-content: space-between;
    
}
.header-container{
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
}
.subscribe ,social{
    align-self: flex-end;
    margin-bottom: 20px;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}